/* Style the navigation bar */
.navbar-new{
  margin: 10px;
  padding: 21px;
  font-size: 30px;
  margin-right: 600px;
  }
  
  .space{
    margin: 5px;
    padding: 5px;
    font-size: 17px;
  }
  
  .nav-link{
    color: rgb(0, 255, 72);
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 17px;
    margin-left: 10px;
  }

  .allcards{
    /* margin: 44px; */
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 85px;
  }
  
  .recruiters{
    text-align: center;
    font-weight: bold;
    color: rgb(25, 50, 244);
  }


  .wmh-footer {
    background: #152f49;
    color: #fff;
    padding: 10px 0px;
    font-family: 'Open Sans',sans-serif;
    width: 100%;
}

.wmh-mlr-90 {
  margin: 0px 90px 0px 90px;
}

.wmh-footer .wmh-wdt-50 {
  /* float: left; */
  width: 100%;
  text-align: center;
}

.wmh-plr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.wmh-footer span {
  font-size: 14px;
}

.wmh-cleardiv {
  clear: both;
}

.wmh-footer .tright {
  text-align: center;
}


.card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
padding: 14px 80px 18px 36px;
cursor: pointer;
}

.card:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.dist{
  margin-top: auto;
}


.margins{
  margin-top: 55px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.bot{
  margin-bottom: 0px;
}